---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

const allEntries = await getCollection("blog");
console.log("System Time:", new Date().getTime());

// Offset untuk UTC+7 dalam milidetik (7 jam * 60 menit * 60 detik * 1000 milidetik)
const offset = 7 * 60 * 60 * 1000;

const publishedBlogEntries = allEntries.filter(({ data }) => {
  return (
    !data.draft &&
    new Date(data.publishDate).getTime() < new Date().getTime()
  );
});

console.log("Filtered Entries:", publishedBlogEntries);

publishedBlogEntries.sort((a, b) => {
  return (
    new Date(b.data.publishDate).getTime() -
    new Date(a.data.publishDate).getTime()
  );
});

console.log("System Time:", new Date(1696350535336).toISOString());
allEntries.forEach(entry => {
  console.log("Publish Date:", entry.data.publishDate);
  console.log("Calculated Publish Date:", new Date(entry.data.publishDate).getTime() + offset);
});

---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Blog</Fragment>
      <Fragment slot="desc">
        We write about building things with technology and thoughts going on our
        mind.
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          publishedBlogEntries.map((blogPostEntry, index) => (
            <li>
              <a href={`/blog/${blogPostEntry.slug}`}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <Picture
                    src={blogPostEntry.data.image.src}
                    alt={blogPostEntry.data.image.alt}
                    sizes="(max-width: 800px) 100vw, 800px"
                    widths={[200, 400, 800]}
                    aspectRatio="16:9"
                    background="#ffffff"
                    fit="cover"
                    position="center"
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md"
                  />
                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {blogPostEntry.data.category}
                    </span>

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {blogPostEntry.data.title}
                    </h2>

                    <div class="flex gap-2 mt-3">
                      <span class="text-gray-400">
                        {blogPostEntry.data.author}
                      </span>
                      <span class="text-gray-400">• </span>
                      <time
                        class="text-gray-400"
                        datetime={new Date(
                          blogPostEntry.data.publishDate,
                        ).toISOString()}>
                        {new Date(
                          blogPostEntry.data.publishDate,
                        ).toDateString()}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>